/*General Rules*/
*{
  padding: 0;
  margin: 0;
}

html{
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4;

}

.content{
  width: 960px;
  display: flex;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}


/*Header*/
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/glasses-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  width: 100%;
}
  /*NavBar*/
  nav{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav .snap{ /*IMPORTANT: "display: none;" for Tablet and Mobile*/
    display:block;
    background-color: red;
    height: 1rem;
  }

  nav .content{
    background-color: cadetblue;
    justify-content: space-between;
  }

  nav .content .wide{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 1rem auto;
    justify-content: space-between;
  }

  nav .content .wide .brand{
    display: flex;
    align-items: center;
    width: 35%;
    color: white;
  }

  nav .content .wide .brand img{
    margin-left: 2rem;
  }

  nav .content .wide .brand .brand-name{
    margin-left: 1rem;
  }

  nav .content .wide ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: 1rem 0;
  }

  nav .content .wide ul li a{
    color: white;
    text-decoration: none;
  }

  nav .content .narrow{
    display: none;
    }
  /*NavBar END*/

  /*Moto is the only h1 so it's at the top*/
  header .moto{
    position: relative;
    top: 10rem;
    left: 11.77rem;
    background-color: white;
    line-height: 1.2;
    padding: 1.5rem 5rem;
  }
  /*Moto END*/
/*Header END*/


/*Main*/
.main{
  display: flex;
  justify-content: center;
}

.main .content{
  flex-direction: column;
  align-items: center;
}

.main .content .top{
  display: flex;
  justify-content: space-around;
  width: 30rem;
  height: 8rem;
  margin-top: 3rem;
}

.main .content .top .fiture,
.main .content .top .fiture-1{
  width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 3rem;
}

.main .content .top .fiture-1 img{
  display: block;
  width: 3.5rem;
  height: auto;
}


.main .content .top .fiture img{
  display: block;
  width: 5rem;
  height: auto;
}

.main .content .top .fiture .text,
.main .content .top .fiture-1 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .bottom{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.main .content .bottom .about{
  width: 35%;
  margin-right: 5%;
}

.main .content .bottom h2{
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/*Footer*/
footer{
  display: flex;
  justify-content: center;
}

footer .content .copyright{
  width: 100%;
  display: flex;
  background-color: azure;
  padding: 4rem;
}

footer .content .copyright img{
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}
/*Footer END*/

/*Media Queries*/
