/*General Rules*/
*{
  padding: 0;
  margin: 0;
}

html{
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4;

}

.content{
  width: 960px;
  display: flex;
}

h1{
  font-size: 2rem;
  font-weight: bold;
}


/*Header*/
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/glasses-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  width: 100%;
}
  /*NavBar*/
  nav{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav .snap{ /*IMPORTANT: "display: none;" for Tablet and Mobile*/
    display:block;
    background-color: red;
    height: 1rem;
  }

  nav .content{
    background-color: cadetblue;
    justify-content: space-between;
  }

  nav .content .wide{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 1rem auto;
    justify-content: space-between;
  }

  nav .content .wide .brand{
    display: flex;
    align-items: center;
    width: 35%;
    color: white;
  }

  nav .content .wide .brand img{
    margin-left: 2rem;
  }

  nav .content .wide .brand .brand-name{
    margin-left: 1rem;
  }

  nav .content .wide ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: 1rem 2rem;
  }

  nav .content .wide ul li a{
    color: white;
    text-decoration: none;
  }

  nav .content .narrow{
    display: none;
    }
  /*NavBar END*/

  /*Moto is the only h1 so it's at the top*/
  header .moto{
    position: relative;
    top: 10rem;
    left: 11.77rem;
    background-color: white;
    line-height: 1.2;
    padding: 1.5rem 5rem;
  }
  /*Moto END*/
/*Header END*/


/*Main*/
.main{
  display: flex;
  justify-content: center;
}

.main .content{
  flex-direction: column;
  align-items: center;
}

.main .content .top{
  display: flex;
  justify-content: space-around;
  width: 30rem;
  height: 8rem;
  margin-top: 3rem;
}

.main .content .top .fiture,
.main .content .top .fiture-1{
  width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 3rem;
}

.main .content .top .fiture-1 img{
  display: block;
  width: 3.5rem;
  height: auto;
}


.main .content .top .fiture img{
  display: block;
  width: 5rem;
  height: auto;
}

.main .content .top .fiture .text,
.main .content .top .fiture-1 .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .bottom{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.main .content .bottom .about{
  width: 35%;
  margin-right: 5%;
}

.main .content .bottom h2{
  background-color: cadetblue;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/*Footer*/
footer{
  display: flex;
  justify-content: center;
}

footer .content .copyright{
  width: 100%;
  display: flex;
  background-color: azure;
  padding: 4rem;
}

footer .content .copyright img{
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}
/*Footer END*/


/*Media Queries*/

/*for tablets*/
@media only screen and (max-width:1024px){

  header{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(./img/glasses-bg.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 22rem;
      width: auto;
    }

  nav .snap{ /*"display: none;" for Tablet and Mobile*/
    display:none;}

  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*NavBar*/
  header nav{
    width: 100%
  }

  .content nav .wide .brand{
    display: flex;
    align-items: center;
    width: 50%;
    color: white;
    margin-left: 1rem;
  }

  nav .content .wide ul{
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 1rem;
  }

  nav .content .wide ul li{
    margin-right: 1rem;
  }
  /*NavBar END*/

  /*Moto*/
  /*couldn't position the moto in the the right place :(*/

  header .content .moto{
    background-color: white;
    line-height: 1.2;
    padding: 0.75rem 4rem;
    margin-left: 2rem;
  }

  h1{
    font-size: 1.33rem;
  }

  /*Moto END*/
} /*Tablet query END*/

/*Mobile query*/
@media only screen and (max-width:550px){
p{
  font-size: 0.77rem;
}

  header{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(./img/glasses-bg.png);
      background-position: 20%;
      background-size: cover;
      background-repeat: no-repeat;
      height: 17rem;
      width: 100%;
    }

    .content{
      width: 100%;
    }

  header nav .content .wide{
      display: none;
    }

  header nav .content .narrow{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: white;
      padding: 1rem 0;
    }

  header nav .content .narrow img{
      height: 1.5rem;
      margin-left: 2rem;
    }

  header nav .content .narrow a{
      color: white;
      text-decoration: none;
      margin-right: 2rem;
      /*float: right; trying to space between the logo and nav, didn't work,
      used justify content instead and it worked*/
    }

  /*Moto*/
  header .moto{ /*couldn't position the moto here as well :(*/
      position: relative;
      top: 9rem;
      /*left: 11.77rem;*/
      background-color: white;
      line-height: 1.2;
      padding: 1rem 5rem;
      width: 100%;
    }
  /*Moto END*/

  /*Main:: couldn't change it's alignment*/
  .main .content .top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3.77rem 0rem;
    height: auto;/*while tryin to space the items I needed to tefine the height
    as auto otherwise it would overflow*/
    /*width: 30rem; got rid of this because it was not necisary*/
  }

  .main .content .top .fiture,
  .main .content .top .fiture-1{
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 1.54rem;
  }

  .text{
    margin-top: 1rem
  }

  .main .content .bottom{
    display: flex;
    flex-direction: column;
    /*justify-content: center; for some reason, it did not do the job so I used
    align-items instead.*/
    align-items: center;
    margin-bottom: 5rem;
  }

  .main .content .bottom .about p{
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

/*footer:: couldn't make the footer narrower*/
footer{
  width: 100%;
}
.content .copyright{
  width: 100%;
  display: flex;
  justify-content: center;
}
.copyright p{
  display: none;
}
}/*Mobile query END*/
